{% extends 'base.html.twig' %}

{#{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Ajout{% endblock %}
{% block body %}

    <h1>Page de creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.name, {'label': 'Nom de la figure', 'attr': {'placeholder': 'Entrez le nom de la figure'}}) }}

    {{ form_row(form.trickGroup, {'label': 'Groupe'}) }}

    {{ form_row(form.content, {'label': 'Description', 'attr': {'placeholder': 'Décrivez comment réaliser la figure'}}) }}

    {{ form_row(form.trickImages, {'label': 'Images'}) }}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>

    {{ form_row(form.videos, {'label': 'Vidéos'}) }}
    <a href="#" id="add_video" class="btn btn-default">Ajouter une vidéo</a>

    <button type="submit" class="btn btn-success">Ajouter la figure</button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {# On charge le script pour les videos. #}
    <script src="{{ asset("js/addVideo.js") }}"></script>
    {# On charge le script pour les images. #}
    <script src="{{ asset("js/addImage.js") }}"></script>


{% endblock %}
