{% extends 'base.html.twig' %}

{#{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Ajout{% endblock %}
{% block body %}

    <h1>Page de creation</h1>

    {{ form_start(formTrick) }}

    {{ form_row(formTrick.name, {'attr': {'placeholder': "Nom de la figure"}}) }}

    {{ form_row(formTrick.trickGroup) }}

    {{ form_row(formTrick.content, {'attr': {'placeholder': "Description de la figure"}}) }}

    {{ form_row(formTrick.trickImages) }}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>

    {{ form_row(formTrick.videos) }}
    <a href="#" id="add_video" class="btn btn-default">Ajouter une vidéo</a>

    <button type="submit" class="btn btn-success">
       {# {% if editMode %}
            Enregistrer #}
        {#{% else %}#}
            Ajouter la figure
        {#{% endif %}#}
    </button>

    {{ form_end(formTrick) }}

{% endblock %}

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {# On charge le script pour les videos. #}
    <script src="{{ asset("js/addVideo.js") }}"></script>
    {# On charge le script pour les images. #}
    <script src="{{ asset("js/addImage.js") }}"></script>


{% endblock %}
