{% extends 'base.html.twig' %}

{#{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Modification{% endblock %}
{% block body %}

    <h1>Page de modification</h1>

    {{ form_start(formTrick) }}

    {{ form_row(formTrick.name, {'attr': {'placeholder': "Nom de la figure"}}) }}

    {{ form_row(formTrick.trickGroup) }}

    {{ form_row(formTrick.content, {'attr': {'placeholder': "Description de la figure"}}) }}

    {#<ul class="tags" data-prototype="{{ form_widget(formTrick.trickImages.vars.prototype)|e}}">
    {% for image in formTrick.trickImages %}
        <li>{{ form_row(image.file) }} </li>
    {% endfor %}
    </ul>#}

    {{ form_row(formTrick.trickImages) }}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>
    {#{% for image in formTrick.trickImages %}
        <img src="{{ asset("uploads/images/")~image.vars.value.url}}" alt="" style="width:20%">
        {{ form_row(image) }}
    {% endfor %}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a> #}

    {{ form_row(formTrick.videos) }}
    <a href="#" id="add_video" class="btn btn-default">Ajouter une vidéo</a>

    <button type="submit" class="btn btn-success">
            Modifier la figure
    </button>

    {# dump formTrick.trickImages.vars.value.url #}

    {{ form_end(formTrick) }}

{% endblock %}

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {# On charge le script pour les videos. #}
    <script src="{{ asset("js/addVideo.js") }}"></script>
    {# On charge le script pour les images. #}
    <script src="{{ asset("js/addImage.js") }}"></script>


{% endblock %}
