{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}
{% block body %}

    <h1>Page de modification</h1>

   {{ form_start(form) }}
   {{ form_row(form._token) }}

    {{ form_row(form.name, {'attr': {'placeholder': "Nom de la figure"}}) }}

    {{ form_row(form.trickGroup) }}

    {{ form_row(form.content, {'attr': {'placeholder': "Description de la figure"}}) }}

   <p><button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#images">Ajouter</button></p>
   <div id="images" class="row" data-index="{{ form.trickImages|length > 0 ? form.trickImages|last.vars.name+1 : 0 }}" data-prototype="{{ include("theme/form_image.html.twig", { form: form.trickImages.vars.prototype })|e("html_attr") }}">
        {% for image in form.trickImages %}
            {{ include("theme/form_image.html.twig", { form: image }) }}
            <div class="del-image-{{image.vars.name}}">
            <img src="{{ asset("uploads/images/")~image.vars.value.url}}" alt="" style="width:20%">
        </div>
        {% endfor %}
    </div>

    <p><button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#videos">Ajouter</button></p>
    <div id="videos" class="row" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name+1 : 0 }}" data-prototype="{{ include("theme/form_video.html.twig", { form: form.videos.vars.prototype })|e("html_attr") }}">
        {% for video in form.videos %}
            {{ include("theme/form_video.html.twig", { form: video }) }}
        {% endfor %}
    </div>
        <br>

    <button type="submit" class="btn btn-success">
            Modifier la figure
    </button>

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="4-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="{{ asset("js/jsForm.js") }}"></script>


{% endblock %}
