{% extends 'base.html.twig' %}

{#{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Modification{% endblock %}
{% block body %}

    <h1>Page de modification</h1>

   {{ form_start(form) }}
   {{ form_widget(form.name) }}

    {{ form_row(form.name, {'attr': {'placeholder': "Nom de la figure"}}) }}

    {{ form_row(form.trickGroup) }}

    {{ form_row(form.content, {'attr': {'placeholder': "Description de la figure"}}) }}

    {#<ul class="tags" data-prototype="{{ form_widget(form.trickImages.vars.prototype)|e}}">
    {% for image in form.trickImages %}
        <li>{{ form_row(image.file) }} </li>
    {% endfor %}
    </ul>

    {{ form_row(form.trickImages) }}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>#}
    {% for image in form.trickImages %}
        <img src="{{ asset("uploads/images/")~image.vars.value.url}}" alt="" style="width:20%">
        {#{{ form_row(image) }}#}
    {% endfor %} {#}
    <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>

    {{ form_row(form.videos) }}
    <a href="#" id="add_video" class="btn btn-default">Ajouter une vidéo</a>

    <button type="submit" class="btn btn-success">
            Modifier la figure
    </button>

    {# dump form.trickImages.vars.value.url#}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {# On charge le script pour les videos. #}
    <script src="{{ asset("js/addVideo.js") }}"></script>
    {# On charge le script pour les images. #}
    <script src="{{ asset("js/addImage.js") }}"></script>


{% endblock %}
