{% extends 'base.html.twig' %}

{% block title %}Les figures {% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Les figures
        <small>Apprenez les incontournables du snowboard</small>
      </h1>

      <div class="row">

        {% for trick in tricks %}
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                {% if trick.trickImages is not empty %}
                    {% set image = trick.trickImages.first() %}
                    <img src="{{ asset("uploads/images/")~image.url }}" alt="" style="width:80%">
                {% else %}
                    <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                {% endif %}

                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ path('show', {'id': trick.id}) }}">{{ trick.name }}</a>
                  </h4>

                  {% if app.user %}
                    <a class="btn btn-danger"
                         href="{{ path('delete_trick', {'id': trick.id}) }}" onclick="return confirm('Etes-vous sûr ?');">Supprimer</a>

                    <a class="btn btn-danger"
                         href="{{ path('edit_trick', {'id': trick.id}) }}">Modifier</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
