{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} {% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">{{ trick.name }}
      </h1>
      <div class="row">
        <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans le groupe {{ trick.trickGroup.title }}</div>
        <div class="content">
             {% for image in trick.trickImages %}
                <img src="{{ asset("uploads/images/")~image.url}}" alt="" style="width:20%">
             {% endfor %}

             {% for video in trick.videos %}
                {{ video.url | raw }}
             {% endfor %}

                {{ trick.content | raw }}
            </div>
        </div>
    </div>
{% endblock %}
